#e1_58 { 
	overflow:hidden;
	width:630px;
	height:64px;
	position:absolute;
}
#e1_59 { 
	width:160.1337890625px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
}
#e1_60 { 
	width:160px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
}
#e1_62 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	width:128px;
	height:48px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
#e1_69 { 
	color:rgba(253.0000001192093, 203.00000309944153, 110.00000104308128, 1);
	width:9px;
	height:32px;
	position:absolute;
	left:160px;
	top:16px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
#e1_70 { 
	color:rgba(253.0000001192093, 203.00000309944153, 110.00000104308128, 1);
	width:9px;
	height:64px;
	position:absolute;
	left:320px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
#e1_71 { 
	color:rgba(253.0000001192093, 203.00000309944153, 110.00000104308128, 1);
	width:9px;
	height:64px;
	position:absolute;
	left:481px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
#e1_72 { 
	width:151.7056884765625px;
	height:64px;
	position:absolute;
	left:168.5618896484375px;
	top:0px;
}
#e1_75 { 
	color:rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:120px;
	height:48px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
#e1_82 { 
	width:152.75918579101562px;
	height:64px;
	position:absolute;
	left:328.6956481933594px;
	top:0px;
}
#e1_85 { 
	color:rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:121px;
	height:48px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
#e1_92 { 
	width:140.11703491210938px;
	height:64px;
	position:absolute;
	left:489.8829650878906px;
	top:0px;
}
#e1_95 { 
	color:rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:108px;
	height:48px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}

#e1_1798 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:526px;
	position:absolute;
}
#e1_1801 { 
	width:1170px;
	height:310px;
	position:absolute;
	left:135px;
	top:80px;
}
#e1_1802 { 
	width:270px;
	height:40px;
	position:absolute;
	left:0px;
	top:32px;
}
#e1_1803 { 
	background-color:rgba(255, 234.00000125169754, 167.00000524520874, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:99px;
	border-top-right-radius:99px;
	border-bottom-left-radius:99px;
	border-bottom-right-radius:99px;
}
#e1_1804 { 
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:11px;
	height:20px;
	position:absolute;
	left:14px;
	top:10px;
}
#e1_1805 { 
	width:40px;
	height:40px;
	position:absolute;
	left:77px;
	top:0px;
}
#e1_1806 { 
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:12px;
	height:13px;
	position:absolute;
	left:18px;
	top:16px;
}
#e1_1807 { 
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:4px;
	height:12px;
	position:absolute;
	left:10px;
	top:17px;
}
#e1_1808 { 
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:10px;
	top:10px;
}
#e1_1809 { 
	width:40px;
	height:40px;
	position:absolute;
	left:153px;
	top:0px;
}
#e1_1810 { 
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:21.988801956176758px;
	height:21.996543884277344px;
	position:absolute;
	left:9px;
	top:9px;
}
#e1_1811 { 
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:3.5799999237060547px;
	height:10.399999618530273px;
	position:absolute;
	left:20.564401626586914px;
	top:13.992141723632812px;
}
#e1_1812 { 
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:3.580000400543213px;
	height:10.399999618530273px;
	position:absolute;
	left:15.844401359558105px;
	top:15.612142562866211px;
}
#e1_1813 { 
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:10.399999618530273px;
	height:3.580000400543213px;
	position:absolute;
	left:13.98440170288086px;
	top:15.852142333984375px;
}
#e1_1814 { 
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:10.399999618530273px;
	height:3.5799999237060547px;
	position:absolute;
	left:15.604401588439941px;
	top:20.572141647338867px;
}
#e1_1815 { 
	width:40px;
	height:40px;
	position:absolute;
	left:230px;
	top:0px;
}
#e1_1816 { 
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:22px;
	height:17.943681716918945px;
	position:absolute;
	left:9px;
	top:11px;
}
#e1_1817 { 
	width:270px;
	height:48px;
	position:absolute;
	left:600px;
	top:152px;
}
#e1_1820 { 
	width:270px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
#e1_1821 { 
	background-color:rgba(193.7999975681305, 193.7999975681305, 193.7999975681305, 1);
	opacity:0.23999999463558197;
	width:270px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
#e1_1822 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	width:238px;
	height:32px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
#e1_1823 { 
	width:40px;
	height:40px;
	position:absolute;
	left:226px;
	top:4px;
}
#e1_1824 { 
	border:2px solid rgba(173.40000182390213, 173.40000182390213, 173.40000182390213, 1);
	width:16px;
	height:6px;
	position:absolute;
	left:12px;
	top:23px;
}
#e1_1825 { 
	border:2px solid rgba(173.40000182390213, 173.40000182390213, 173.40000182390213, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:16px;
	top:11px;
}
#e1_1826 { 
	width:370px;
	height:80px;
	position:absolute;
	left:600px;
	top:230px;
}
#e1_1829 { 
	width:370px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}
#e1_1830 { 
	background-color:rgba(193.7999975681305, 193.7999975681305, 193.7999975681305, 1);
	opacity:0.23999999463558197;
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:370px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
#e1_1831 { 
	color:rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:338px;
	height:48px;
	position:absolute;
	left:16px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
#e1_1832 { 
	width:40px;
	height:40px;
	position:absolute;
	left:326px;
	top:4px;
}
#e1_1833 { 
	border:3px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:10px;
	top:12px;
}
#e1_1834 { 
	border:3px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:16px;
	top:10px;
}
#e1_1835 { 
	width:270px;
	height:48px;
	position:absolute;
	left:900px;
	top:152px;
}
#e1_1838 { 
	width:270px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
#e1_1839 { 
	background-color:rgba(193.7999975681305, 193.7999975681305, 193.7999975681305, 1);
	opacity:0.23999999463558197;
	width:270px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
#e1_1840 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	width:238px;
	height:32px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
#e1_1841 { 
	width:40px;
	height:40px;
	position:absolute;
	left:226px;
	top:4px;
}
#e1_1842 { 
	border:2px solid rgba(173.40000182390213, 173.40000182390213, 173.40000182390213, 1);
	width:20px;
	height:16px;
	position:absolute;
	left:10px;
	top:12px;
}
#e1_1843 { 
	border:2px solid rgba(173.40000182390213, 173.40000182390213, 173.40000182390213, 1);
	width:20px;
	height:7px;
	position:absolute;
	left:10px;
	top:14px;
}
#e1_1844 { 
	width:170px;
	height:80px;
	position:absolute;
	left:1000px;
	top:230px;
}
#e1_1845 { 
	width:170px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}
#e1_1846 { 
	box-shadow:0px 8px 24px rgba(38.0000015348196, 50.000000819563866, 56.000000461936, 0.10000000149011612);
	background-color:rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:170px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
#e1_1847 { 
	box-shadow:0px 2px 4px rgba(37.85256564617157, 49.812393486499786, 55.792307406663895, 0.1599999964237213);
	color:rgba(255, 255, 255, 1);
	width:138px;
	height:64px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0.25;
	line-height:px;
}
#e1_1854 { 
	color:rgba(173.40000182390213, 173.40000182390213, 173.40000182390213, 1);
	width:570px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:2.5;
}
#e1_1855 { 
	color:rgba(173.40000182390213, 173.40000182390213, 173.40000182390213, 1);
	width:570px;
	height:24px;
	position:absolute;
	left:600px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:2.5;
}
#e1_1856 { 
	color:rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:570px;
	height:40px;
	position:absolute;
	left:600px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:-0.5;
	line-height:px;
}
#e1_1857 { 
	color:rgba(173.40000182390213, 173.40000182390213, 173.40000182390213, 1);
	width:570px;
	height:24px;
	position:absolute;
	left:0px;
	top:112px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:2.5;
}
#e1_1858 { 
	color:rgba(173.40000182390213, 173.40000182390213, 173.40000182390213, 1);
	width:570px;
	height:24px;
	position:absolute;
	left:600px;
	top:112px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:2.5;
}
#e1_1859 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	width:170px;
	height:24px;
	position:absolute;
	left:0px;
	top:152px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
#e1_1860 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	width:170px;
	height:24px;
	position:absolute;
	left:0px;
	top:192px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
#e1_1861 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	width:170px;
	height:24px;
	position:absolute;
	left:0px;
	top:232px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
#e1_1862 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	width:170px;
	height:24px;
	position:absolute;
	left:200px;
	top:152px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
#e1_1863 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	width:170px;
	height:24px;
	position:absolute;
	left:200px;
	top:192px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
#e1_1864 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	width:170px;
	height:24px;
	position:absolute;
	left:200px;
	top:232px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
#e1_1865 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	width:170px;
	height:24px;
	position:absolute;
	left:400px;
	top:152px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
#e1_1866 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	width:170px;
	height:24px;
	position:absolute;
	left:400px;
	top:192px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
#e1_1867 { 
	transform: rotate(-180deg);
	width:1440px;
	height:545px;
	position:absolute;
	left:1440px;
	top:967px;
}
#e1_1868 { 
	transform: rotate(-54.26255862842672deg);
	background-color:rgba(255, 234.00000125169754, 167.00000524520874, 1);
	width:1102.395263671875px;
	height:1504.166015625px;
	position:absolute;
	left:-284.0845947265625px;
	top:393.6834716796875px;
}
